
body{
    background-image: url(img/bb.png)
}

.container{
    width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    
    border: 2px dotted red;
    padding: 20px;
}

.post img{
    border: 5px double #FF5722;
}

.box1{
    height: 150px;
    width:  200px;
    background: #ff5722;
    border-radius: 8px 58px;
    transition: 0.5s;
    margin-bottom: 20px;
}

.box1:hover{
    border-radius: 58px 8px;
    background-color: chartreuse;
}

.box2{
    float: left;
}

.box2 img{
    border-radius: 50%;
    border: 3px solid red;
    transition: 1s;
}

.box2 img:hover{
    border: 3px solid #00a300;
}

.clearfix{
    clear: both;
}

.service-item{
    float: left;
    width: 30%;
    border: 2px solid mediumvioletred;
    margin-bottom: 20px;
    padding: 5px;
    background: burlywood;
    margin-right: 18px;
}

.footer{
    background: #000;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    font-size: 20px;
}
